/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    font-size: 60px;
}

.hlavicka{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/island-hlavicka.jpg);
    background-repeat: no-repeat;
    overflow: auto;
    min-height: 400px;  
    width: 100%;
    display:block;
    background-size: cover;
    position: relative; 
}

.hlavicka .nadpis{
    color: #f5f5f5;
    text-align:center;
    padding: 20px;
    text-shadow: 1px 1px 1px rgb(134, 129, 129);
}

h1{
    margin: 0;  
}

p.perex{
    margin:0;
    padding-bottom:20px;
}

.autor::before{
    border: 1px solid #f5f5f5;
    width:20%;
    position: absolute;
    content:' ';
    display:block;
    left:40%;
    bottom:23%;
}

p.autor{
    margin:0;
    padding:20px;
}



/* MENU */

a{
    color: #8a8585;
    text-decoration: none;
    text-transform: uppercase ;
}

li{
    display: block;
    text-align: center;
    font-family: 'Raleway', serif; 
    font-size: 14px;
    line-height: 2.0;
    border-bottom: 1px solid #8a8585;
}

ul.menu{
    padding:0;
}

.menu a{
    display: block;
}

.menu a:hover,
.menu a:focus,
.menu a:active{
    background-color: #8a8585;
    color: #f5f5f5;
    font-weight:bold;
}

/* OBSAH */

img{
    width:100%;
}

.popisek{
    text-align: center;
    font-size: small;
}

.popisek a{
    text-decoration: underline;
    text-transform: initial;
}

.text1,
.text2,
.text3,
.text4,
.fotogalerie,
.paticka{
    padding-left: 20px;  
    padding-right: 20px;
}

p{
    margin:30px 0;
}

h2{
    margin:30px 0;
}

hr{
    width:20%;
    margin:0;
    border:2px solid rgb(73, 138, 223);
}

p.popisek{
    margin: 0;
}

.popisek{
    color:   #8a8585;
}

/* FOTOGALERIE */

.galerie .popisek{
    font-weight: bold;    
}


.galerie .popisek-copy{
    font-weight: 400;
    color:   #8a8585;
}

.galerie .foto{
    padding-top: 30px; 
}


/* PATICKA */

.paticka{
    color:#8a8585;
    font-size: small;
    border: 1px solid #f3f0f0;
    background-image: linear-gradient(#dad6d6, #f3f0f0 10%);
    margin-top: 30px;
}

.paticka p{
    font-weight: bold;
}

.paticka a{
    text-decoration: underline;
    text-transform: initial;
}


@media (min-width:500px){
    body{
        max-width:1000px;
        position:relative;
    }
    .hlavicka{
        min-height:300px;
    }
    p.perex{
        padding:0 80px;
    }

    .kontejner{
        padding: 0 20px;

    } 

    .menu{
        display:flex;
        flex-direction: row;
        justify-content: space-between;   
    }

    ul.menu{
        margin:0;
    }

    .polozka{
        flex-grow: 1;
    }
   
    li{
        border: none; 
    }

    .menu a{
        padding: 20px;
    }

    .uvod p.popisek,
    .proc p.popisek,
    .co p.popisek{
        text-align: right;
        position: relative;
        top: -30px;
        color: white; 
        padding-right: 20px; 
    }

    .uvod a,
    .proc a,
    .co a{
        color:white
    }

    .galerie .foto{
        padding-top: 0; 
    }

    .foto{
        width: calc(100% /2 );
        float:left;
        position: relative;
        overflow: hidden;
    }
   
    .foto img{
        display: block;
    } 
     
    .foto .popisek,
    .foto .popisek-copy,
    .foto a{
        color:white;
    }
    
    .foto .popisek{
        background-color: rgba(136, 125, 125, 0.7);
        position: absolute;
        transition: transform 1s;
        transform:translateY(100%);
        bottom:0;
        width:100%;
        text-align: center;      
    }

    .foto:hover .popisek{
        transform:translateY(0);
    }

    .paticka{
        width:100%;
        display: inline-block;
        left:0;
        margin-top: 0;
        bottom:0;
    }
    .paticka p{
        margin-bottom: 0;
    }

    .text1,
    .text2,
    .text3,
    .text4{
        padding-top: 0;
        padding-bottom: 0;
    }
    .fotogalerie{
        padding-bottom: 20px;
    }

}

@media (min-width:1000px){
    body{
        max-width: 100%;
    } 
  
    .sekce{
        border:1px solid white;
        box-shadow: -3px 3px 39px -3px rgba(0,0,0,0.37);
        background-color: white;
        display: block;
        margin-left: auto;
        margin-right:auto;
        width: 960px;
        margin-top: -30px;
      
    }
    .hlavicka{
        z-index: -1;
    }

    .autor::before{
        bottom: 33%;
    }

    .text1,
    .text3,
    .text4{
        padding:0 40px 0 280px;
    }

    .text1 p{
        margin-top: 0;
    }

    .text2{
        padding:0 280px 0 40px;
    }

    .menu{
        flex-direction: column;
        float: left;      
    }

    .menu a{
        padding:5px;
        text-align: left;
        border-bottom: 1px solid #8a8585;
    }

    .kontejner{
        padding-top: 50px;
        padding-left:50px;
    }

    .foto{      
        width: calc(100% /3 );
    }

    .paticka{
        display: block; 
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 960px;
        border: 0;
        text-align: left;
    }  
}
